* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid1 {
    background-color: #b3d4fc;
}

.div {
    width: 100%;
}

dd span {
    font-size: 200%;
    display: inline-block;
    width: 1em;
    height: 1.3em;
    line-height: 1.3em;
    text-align: center;
    border-radius: .15em;
    margin: .25em 1px;
    color: #FFF;
    background: #54606b;
}

ul li,
ol li {
    list-style-type: none;
}

.footerlist ul li {
    font-size: 85%;
    color: #FFF;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #fff;
}

.scrollup {
    position: fixed;
    right: 1.5rem;
    bottom: -30%;
    display: inline-flex;
    gap: 20px;
    align-items: center;
    z-index: 100;
}

.scroll {
    font-size: 1.5rem;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    border: 1px solid #347aa1;
    background-color: #347aa1;
    color: #fff;
}

.show-scroll {
    bottom: 3rem;
}